<div style="margin-top: 5%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.User %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.Password %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @user.CompanyName %>
</p>

<p>
  <strong>Companyemail:</strong>
  <%= @user.CompanyEmail %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @user.Stock %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user.Latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user.Longitude %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>