<div style="margin-top: 5%; margin-left: 30%; margin-right: 30%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Member Since:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @user.company_name %>
</p>


<!-- Edit and Back -->
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> 
<%= link_to 'Back', drones_path, class: "btn btn-info" %>
</div>