<!DOCTYPE html>
<html>
<head>
  <title>DroneZone Web App</title>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=<font_name>', :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mappage.scss' %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How DroneZone Works</a>
        </li>
        <li>
          <a href="#" role="button"><span class="glyphicon glyphicon-info-sign"></span> Current FAA Regulations</a>
        </li>
      </ul>    

      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="/users"><span class="glyphicon glyphicon-cog"></span> Admin</a>
        </li>
        <li class="navbar-right">
          <a href="/drones"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li class="navbar-right">
          <a href=""><span class="glyphicon glyphicon-user"></span> Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <%= yield %>
</div>
<footer>
  <div class="footerText" style=" position:fixed; bottom:0; width:100%; height:40px;   /* Height of the footer */ background:#b0bec5 ; ">
    <small>&copy; Copyright 2017, Drone Zone Inc.</small>
  </div>

</footer>
</body>
</html>
